{
    "env": {
        "commonjs": true,
        "es6": true,
        "phantomjs": true,
        "node": true,
        "mocha": true
    },
    "extends": ["eslint:recommended"],
    "parserOptions": {
      "ecmaVersion": 8
    },
    "rules": {
        "indent": [
            "error",
            2,
            {
              "SwitchCase": 1
            }
        ],
        "linebreak-style": [
            "error",
            "unix"
        ],
        "quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "no-multi-spaces": [
            "error"
        ],
        "space-before-blocks": [
            "error"
        ],
        "arrow-spacing": [
            "error"
        ],
        "no-console": "off",
        "no-unused-vars": [
          "error",
          "args": "none"
        ]
    }
}
